[submodule "crates/arm-pl011"]
	path = crates/arm-pl011
	url = https://gitee.com/zr233/arm-pl011-rs.git
[submodule "crates/arm-gic"]
	path = crates/arm-gic
	url = https://gitee.com/zr233/arm-gic-driver.git
