[workspace]
resolver = "2"
members = ["app/*", "crates/*"]

[workspace.package]
version = "0.6.3"
edition = "2024"

[workspace.dependencies]
sparreal-rt = { path = "crates/sparreal-rt" }
sparreal-macros = { path = "crates/sparreal-macros" }
sparreal-kernel = { path = "crates/sparreal-kernel" }
page-table-arm = { path = "crates/page-table-arm" }
driver-interface = { path = "crates/driver-interface" }
bare-test = { path = "crates/bare-test" }
bare-test-macros = { path = "crates/bare-test-macros" }
log = "0.4"
